@model Tasker.Web.Models.MyTask
@{
    ViewData["Title"] = "New";
}

<h2>Nueva tarea</h2>

@if (string.IsNullOrEmpty(ViewData["Error"] + "") == false)
{
    <div class="alert alert-danger" role="alert">@ViewData["Error"]</div>

}

<form asp-action="New" asp-controller="Task" method="post">
    <div class="form-group">
        <label asp-for="Name">Nombre de la actividad</label>
        <input asp-for="Name" class="form-control" placeholder="Ej. Comprar café" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Descripcion de la actividad</label>
        <input asp-for="Description" class="form-control" placeholder="Describir de manera extensa la actividad" />
    </div>
    <div class="form-group">
        <label asp-for="DueDate">Fecha de vencimiento</label>
        <input asp-for="DueDate" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="reset" class="btn btn-warning">Cancelar</button>
</form>

